body {
  background-color: #eef0ff;
}

body main {
  width: 70%;
  margin: 25px auto;
  border: 3px solid #7382df;
  border-radius: 30px;
  background-color: #f6fdff;
  padding: 1rem 5rem;
}

body main nav h1 {
  color: #7986ed;
}

body main nav h1 span {
  color: #cfcfcf;
  font-size: 1.5rem;
  display: inline-block;
  margin-left: 1rem;
  font-weight: 300;
}

body main nav input {
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  padding: 5px;
  outline: 0;
}

body main nav input::-webkit-input-placeholder {
  color: #eee;
}

body main nav input:-ms-input-placeholder {
  color: #eee;
}

body main nav input::-ms-input-placeholder {
  color: #eee;
}

body main nav input::placeholder {
  color: #eee;
}

body main nav .nav-search {
  width: 30%;
}

body main nav .nav-search form {
  position: relative;
}

body main nav .nav-search form button {
  position: absolute;
  right: 5px;
  top: 2px;
  color: #cfcfcf;
  font-size: 1.7rem;
}

body main nav .nav-search button {
  background-color: transparent;
  border: 0;
  padding: 1px;
  font-size: 2rem;
  color: lightblue;
  cursor: pointer;
}

body main section#forecast-banner {
  background-image: url(tools/img/forecast-image.jpg);
  min-height: 260px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 18px -5px #707af5;
          box-shadow: 0px 4px 18px -5px #707af5;
  padding: 1rem 2rem;
  color: white;
}

body main section#forecast-banner .temperature {
  font-size: 4rem;
  text-shadow: 0px 0px 20px black;
  font-weight: bold;
}

body main section#forecast-banner .temperature .temperature-city {
  font-weight: 400;
}

body main section#forecast-banner .sunset-time {
  font-size: 3rem;
  text-shadow: 0 0 10px black;
}

body main section#weather-detail .today-forecast {
  width: 35%;
}

body main section#weather-detail .today-forecast .today-climate {
  background-color: white;
  padding: 3px 5px;
  border: 1px solid #eee;
  border-radius: 8px;
  color: #838cdf;
  font-size: 4rem;
}

body main section#weather-detail .today-forecast .today-climate .detail {
  font-size: 1.4rem;
  margin-left: 1rem;
  color: black;
}

body main section#weather-detail .today-forecast .today-climate .detail span:last-child {
  font-weight: bold;
}

body main section#weather-detail .today-forecast .monthly-forecast {
  background-image: -webkit-gradient(linear, right top, left top, from(#0045ae), color-stop(#0065c5), color-stop(#0083d6), color-stop(#00a0e2), to(#12bceb));
  background-image: linear-gradient(to left, #0045ae, #0065c5, #0083d6, #00a0e2, #12bceb);
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 13px -1px #0000ff73;
          box-shadow: 0 0 13px -1px #0000ff73;
  color: white;
}

body main section#weather-detail .today-forecast .monthly-forecast .yearly span:last-child {
  color: #cddc39;
}

body main section#weather-detail .daily-forecast {
  width: 60%;
  padding: 8px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

body main section#weather-detail .daily-forecast .daily-forecast-on-table {
  color: #525252;
}

body main section#weather-detail .daily-forecast .daily-forecast-on-table span {
  margin-bottom: 1rem;
  font-family: inherit;
}

body main section#weather-detail .daily-forecast .daily-forecast-on-table span:nth-child(2) {
  color: #a2a9db;
}

body main section#weather-detail .daily-forecast .daily-forecast-on-table span:last-child {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */